@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  body {
    @apply bg-bgBody text-textBody font-body antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-textMain;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
      display: none;
  }
  .scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
  }
}

/* Custom Styles */
.tooth-group {
  cursor: pointer;
  transition: all 0.3s ease;
  fill: #ffffff;
  stroke: #cbd5e0;
  stroke-width: 1;
}

.tooth-group:hover {
  fill: #e6f0fa;
  stroke: #0056b3;
  transform: scale(1.05);
}

.tooth-group.selected {
  fill: #0056b3;
  stroke: #004494;
}